/* ========= ALL ========= */
html {
    scroll-behavior: smooth;
  }
  /* ========= END ALL ========= */
  
  /* ========= DATA TABLE ========= */
  .dataTables_wrapper select,
    .dataTables_wrapper .dataTables_filter input {
      color: #4a5568;
      line-height: 1.25;
      border-width: 2px;
      border-radius: .25rem;
      border-color: #edf2f7;
      background-color: #edf2f7;
    }
    table.dataTable.hover tbody tr:hover,
    table.dataTable.display tbody tr:hover {
      background-color: #ebf4ff;
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button {
      font-weight: 700;
      border-radius: .25rem;
      border: 1px solid transparent;
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button.current {
      color: #fff !important;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
      font-weight: 700;
      border-radius: .25rem;
      background: rgb(4 108 78);
      border: 1px solid transparent;
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
      color: #fff !important;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
      font-weight: 700;
      border-radius: .25rem;
      background: rgb(4 108 78) !important;
      border: 1px solid transparent;
      
    }
  
    table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before,
    table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
      background-color: #667eea !important;
    }
  /* ========= END DATA TABLE ========= */
  
  /* ========= WELCOME ========= */
  .testimonial-item {
    transition-duration: 1200ms;
  }
  
  @media only screen and (max-device-width: 1024px){
    .home {
      margin-block-start: 5rem;
    }
  
    .organization, .footer,  .experience-timeline, .project-card, .contact-form {
      margin-block-start: 2rem;
    }
  
    .experience, .project, .testimonial, .contact{
      margin-block-start: 5rem;
    }
  
    .project-card {
      gap: 8;
    }
  
    .testimonial-svg {
      inline-size: 1rem;
      block-size: 1rem;
    }
  
    .testimonial-letter {
      font-size: 0.97rem/* 24px */;
      line-height: 1.3rem/* 32px */;
    }
  
    .btn-contact {
      inline-size: 100%;
    }
  }
  
  @media only screen and (min-device-width: 1280px){
    .home {
      margin-block-start: 2rem;
    }
  
    .hero-image, .mockup {
      inline-size: 90%;
    }
  
    .experience, .project, .testimonial, .contact{
      margin-block-start: 2.5rem;
    }
  
    .experience-title, .project-title, .testimonial-title, .contact-title, .experience-timeline {
      justify-content: center;
      display: flex;
    }
  
    .experience-timeline {
      gap: 5rem;
      margin-block-start: 5rem;
      margin-inline-start: 25rem;
      margin-inline-end: 25rem;
    }
  
    .experience-subtitle, .project-subtitle, .testimonial-subtitle, .contact-subtitle {
      text-align: center;
    }
  
    .project-card, .contact-form, .footer {
      margin-block-start: 5rem;
    }
  
    .project-card {
      margin-inline-start: 5rem;
      margin-inline-end: 5rem;
    }
  
    .contact-form {
      margin-inline-start: 10rem;
      margin-inline-end: 10rem;
    }
  }
  
  @media only screen and (min-device-width: 1370px) {
    .home, .experience, .project, .testimonial, .contact, .footer {
      margin-block-start: 10rem;
    }
  
    .about {
      margin-block-start: 6rem;
    }
  
    .experience-timeline {
      margin-inline-start: 40rem;
      margin-inline-end: 40rem;
    }
  
    .project-card, .contact-form {
      margin-inline-start: 20rem;
      margin-inline-end: 20rem;
    }
  }
  /* ========= END WELCOME ========= */
  
  /* ========= SOCIAL MEDIA ========= */
  .btn-social-media {
    inline-size: 100%;
  }
  /* ========= END SOCIAL MEDIA ========= */